<form action="/quizes/<%= quizId%>/comments" method="post">
	<h1>Crear un nuevo comentario</h1>
	<input type="text" id="comment" name=comment[texto] value="" />
	<button type="submit">Enviar</button>
</form>
